.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50%;
    padding: 4rem;
    box-shadow: 5px 10px #ebeced;
    text-align: center;
    border-radius: 20px;
}
.card_head{
    margin-bottom: 2rem;
}
.card_body{
    margin-bottom: 2rem;
}